<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.google.com/" />
    <link rel="preconnect" href="https://fonts.google.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </nav>
    </header>
    <main>
      <h1>Site Name</h1>
      <img src="images/fox-8318961_640.png" alt="fox" />
      <img src="images/iceland-1979445_640.jpg" alt="iceland fox" />
    </main>
    <footer>
      <p>&copy; 2023 Bryan Ramirez</p>
    </footer>
  </body>
</html>
